{% extends 'base.html' %}
{% load static %}


{% block page_styles %}

<!--tag static, sirve para indicarle a django que el cargue la ruta del archivo estatico
dentro de una carpeta static que nosotros indiquemos-->
<link rel="stylesheet" href="{% static  'minilibrary/css/estilo.css' %}">

{% endblock page_styles %}

{% block title %}Minilibrary{% endblock title %}

{% block content %}

<h2>App Minilibrary</h2>

<form class="search">
    <div >
        <label for="search">Buscar por: </label>
        <!--El name se especifica con que nombre se recibira el valor del input en una view de django
        por el request-->
        <input type="text" id="search" name="query_search" placeholder="Busca por titulo o autor"
        
        {% if query_search %}
            value="{{query_search}}"
        {% endif %}
            
        />
    </div>

    <!--Filtros de fecha-->
    <div>
        <label for="fecha">Filtre por fecha:</label>
        <!--Accedemos a los valores del request que se envia del front o template 
        para añadir aqui que esos son los valores por defecto que deben mostrarse, si llegara el caso
        de que no han enviado valor se añadira el valor vacio por defecto de un input tipo date-->
        <input type="date" name="start" value="{{request.GET.start}}" />
        <input type="date" name="end" value="{{request.GET.end}}"  />
    </div>


    <!--Se requiere un boton para enviar la informacion de un formulario a una url y view-->
    <div>
        <input type="submit" value="Enviar"/>
    </div>
    <!--QUE OCURRE CUANDO SE APRETA EL BOTON EN UN FORMULARIO:
    Cuando se presiona un boton en un formulario por defecto (no ha sido modificado por javascript en un addEventListener) 
    ocurre que la informacion añadida a los inputs se envian a la url dentro del request usando el metodo GET
    y si la url al que se envia la informacion responde con un resultado por ejemplo un html renderizado este
    lo recibe recarga la web completa y procesa ese html para mostrarlo al usuario -->

    <!--Podemos modificar el comportamiento por defecto con javascript usando un event.preventDefault() si queremos
    manipular de otra forma el envio de informacion en un formulario-->
</form>


<!--Este div o contenedor es la seccion donde cargamos todos los libros de la pagina que nos entregue
la view y ademas de añadir el menu html grafico para que el usuario solicite una pagina sin necesidad
de solicitarla por la url del navegador-->
<div>
    <h2>Libros</h2>
    <ul>
        
        {% for book in page_books %}
            <li><a href="{% url 'recomendar_libro' book_id=book.id%}">{{book.title}} - {{book.author.name}} - {{book.publication_date }}</a></li>
        {% empty %}
            <h3 class="text-red">NO HAY LIBROS DISPONIBLES</h3>
        {% endfor %}
        
    </ul>

     
    
    <div>
        <!--Programamos el html que permite al usuario utilizar el paginador-->

        <!--Preguntamos a la pagina actual que estamos usando en el template si es que
        tiene una pagina previa o anterior, ya que si es la primera no tendria-->
        {% if page_books.has_previous %}
        <!--Si no pasamos una url al enlace, por defecto acciona o accede al mismo url donde
        estamos ubicados y ademas podemos pasarle datos-->
            <a href="?page=1&{{query_string}}">Primera</a>
            <!--Carga la pagina anterior a la que estamos ubicados o esta ubicado el usuario en el template-->
            <a href="?page={{page_books.previous_page_number}}&{{query_string}}">Anterior</a>
        {% endif %}

        <!--Numero de la pagina donde estamos ubicados-->
        <span>Página {{page_books.number}} de {{page_books.paginator.num_pages}} páginas</span>

        <!--Ahora implementamos los botones para irnos a la siguiente pagina y a la ultima-->
            
        {% if page_books.has_next %}
            <a href="?page={{page_books.next_page_number}}&{{query_string}}">Siguiente</a>
            <a href="?page={{page_books.paginator.num_pages}}&{{query_string}}">Ultima</a>
        {% endif %}
            
            
    </div>
    
    
    {% comment %} <form>
       <!--La etiqueta form envia el value de todos los input que esten dentro de ella
        pero si es de type submit y hay muchos solo envia el value del que fue presionado-->
        <input type="submit" name="page" value=1>
        <input type="submit" name="page" value=2>
        <input type="submit" name="page" value=3>
    </form> {% endcomment %}
</div>


{% endblock content %}