<!--
    Los include son fragmentos de html que reutilizaremos en las plantillas
    Funcionan diferente a la herencia o extends, pero muy parecido. porque al igual
    que los extends que nos permiten implementar el html del template base los includes tambien
    nos permiten implementar un fragmento de codigo. la diferencia es que la herencia es como pegar
    el contenido del template y añadirlo en los bloques del template base (% block %), en cambio
    los include es incluir directamente en el template el fragmento de html que nosotros queramos.
-->

<div>
    <h3>Soy un fragmento</h3>
</div>