<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Debemos dar un nombre a los tag block para identificarlos en los otros templates-->
    <title>{% block title %}{% endblock %}</title>
    <!--Creamos un bloque para que cada template cargue sus propios estilos en el base.html-->
    {% block page_styles %}{% endblock page_styles %}
    <!--Asi evitamos cargar estilos en el base y obligamos que todos los templates carguen los mismos estilos
    aunque podemos hacerlo si queremos.-->
</head>
<body>

    <!--Los includes son codigo reutilizable para una app, templates base del proyecto, etc.-->
    {% include 'includes/header.html' %}



    <!--Debemos especificar en que parte se va agregar el contenido HTML de los otros templates
    que extiendan de este template base-->

    {% block content %} 
    
    {% endblock content %}
        


    <!--Todo el contenido que se implemente de los templates hijos de este en un bloque
    llamado juanito, se añadira dentro de este div-->
    <div>
        {% block juanito%} {% endblock %}
    </div>
</body>
</html>