{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Debemos dar un nombre a los tag block para identificarlos en los otros templates-->
    <title>{% block title %}{% endblock %}</title>
    <!--Creamos un bloque para que cada template cargue sus propios estilos en el base.html-->
    {% block page_styles %}{% endblock page_styles %}
    <!--Asi evitamos cargar estilos en el base y obligamos que todos los templates carguen los mismos estilos
    aunque podemos hacerlo si queremos.-->
    <link rel="stylesheet" href="{% static 'normalize.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

    <!--Los includes son codigo reutilizable para una app, templates base del proyecto, etc.-->
    {% include 'includes/header.html' %}

    {% if request.user.is_authenticated %}
    <!--LogoutView, requiere un http request con el metodo POST ya que en su metodo def post(self) tiene programad la logica
    de cerrar la sesion. La unica forma que tenemos para enviar a django un metodo distinto a GET es con los formularios -->
        <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    {% endif %}


    <!--Si hay mensajes para renderizar o mostrar que se cargue el siguiente html-->
    {% if messages %}
            <!--Iteramos y renderizamos todos-->
            {% for message in messages %}
            <!--el tags devuelve si es de success, error, etc. y mostraria el diseño de bootstrap adecuado-->
                <div class="alert alert-{{message.tags}}"> {{message}} {{message.tags}}</div>
                
            {% endfor %}
                
    {% endif %}
        


    <!--Debemos especificar en que parte se va agregar el contenido HTML de los otros templates
    que extiendan de este template base-->

    {% block content %} 
    
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
    crossorigin="anonymous"></script>
</body>
</html>