<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Debemos dar un nombre a los tag block para identificarlos en los otros templates-->
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <!--Debemos especificar en que parte se va agregar el contenido HTML de los otros templates
    que extiendan de este template base-->

    <center><h1>Titulo generico que tendran todas las paginas</h1></center>
    {% block content %} 
    
    {% endblock content %}
        


    <!--Todo el contenido que se implemente de los templates hijos de este en un bloque
    llamado juanito, se añadira dentro de este div-->
    <div>
        {% block juanito%} {% endblock %}
    </div>
</body>
</html>